<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link rel="stylesheet" href="/static/createpost.css">
    <link rel="stylesheet" href="/static/stylesheet.css">
</head>
<body>
<div class="main-container">
    <div class="main-wrapper-clearfix">
        <header>
            <nav>
                <div class="nav_logo">NatureBlog</div>
                {% if current_user.is_authenticated %}
                    <ul class="nav_links">
                        <li class="link"><a href="{{ url_for('views.index') }}">Home</a></li>
                        <li class="link"><a href="{{ url_for('views.about') }}">About</a></li>
                        <li class="link"><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                        <button class="create_post_btn"><a href="{{ url_for('views.createPost') }}">Create Post</a>
                        </button>
                    </ul>
                {% else %}
                    <ul class="nav_links">
                        <li class="link"><a href="{{ url_for('views.index') }}">Home</a></li>
                        <li class="link"><a href="{{ url_for('views.about') }}">About</a></li>
                        <li class="link"><a href="{{ url_for('views.contact') }}">Support</a></li>
                        <li class="link"><a href="{{ url_for('auth.login') }}">Login</a></li>
                        <li class="link"><a href="{{ url_for('auth.register') }}">Register</a></li>
                    </ul>
                {% endif %}
            </nav>
        </header>
        <div class="container">
            <form class="post-form" method="POST">
                <p class="create">Contact Us</p>
                <label for="title">Sender:</label>
                <input type="text" id="title" name="sender" required>
                <label for="title">Email:</label>
                <input type="email" id="title" name="email" required>
                <label for="content">Message:</label>
                <textarea id="content" name="message" required></textarea>
                <button class="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>