<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Nature Blog</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
<div class="container">
    <form class="form" method="POST">
        <p class="title">Sign into your account</p>
        <p class="message">Login, Now!</p>
        <label>
            <input required="" placeholder="" type="email" class="input" name="email">
            <span>Email</span>
        </label>
        <label>
            <input required="" placeholder="" type="password" class="input" name="password">
            <span>Password</span>
        </label>
        <button class="submit">Login</button>
        <p class="message">Not registered? <a href="/register">Create an account</a></p>
        <p class="signin"><a href="/">Back to home</a> </p>
    </form>
</div>
</body>
</html>